<div class="center">
    <h1>Counter App</h1>

    <h2 class="count">{{count}}</h2>

    <button (click)="handleCounter('minus')" class="btn bg-red">Decrement</button>
    <button (click)="handleCounter('reset')"class="btn bg-black">Reset</button>
    <button (click)="handleCounter('plus')" class="btn bg-green">Increment</button>
</div>
<!--  Event Codes Start Here....  -->

<div style="display: none;">
    <button class="button" value="Login" (click)="handleEvent($event)">clicked</button>

    <br>
    <br>

    <div style="background-color: green; width: 100px; height: 100px;" 
        (mouseenter)="handleEvent($event)">
    </div>
    <div style="background-color: blue; width: 100px; height: 100px;" 
        (mouseleave)="handleEvent($event)">
    </div>

    <br>
    <br>

    <input type="text"
    (focus)="handleEvent($event)"
    (blur)="handleEvent($event)"
    (input)="handleEvent($event)"

    name="user"
    >
</div>

<!--  Input Events code start here  -->

<h1>Get and Set Input field Value</h1>

<h1>User Name is : {{displayName}}</h1>

<input type="text" value="{{name}}" (input)="getName($event)">

<br>
<br>
<br>
<button (click)="showName()">Set Name</button>
<button (click)="setName()">Get Name</button>

<hr>

<h1>Email enter is : {{email}}</h1>

<input type="text" value="{{email}}" placeholder="Enter Email" #emailField >
<br>
<br>
<button (click)="getEmail(emailField.value)">Get Email</button>
<button (click)="setEmail()">Set Email</button>

<br>
<br>
<hr>